<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests">
<listeners>
<listener class-name="flipkart.CustomListeners"></listener>
</listeners>

  <test  name="validate loginTest">
  
  <classes>
  <class name="flipkart.SignInTest"/>
  </classes>
  </test>
  
  <test name ="validate label">
  
  <classes>
  
  <class name ="flipkart.TC_cartLable_Test">
  </class>
  
  </classes>
  
  
  
  
  
  
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
